<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="System_out">
		<PatternLayout>
			<pattern>
				[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msa%n
			</pattern>
		</PatternLayout>
		</Console>
		<File name="File" fileName="/home/miguel/logging.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msa%n
				</pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.archtectblogs.Logging.LoggingExample" level="info" additivity="false">
		<AppenderRef ref="Console" />
		<AppenderRef ref="File" />
		</Logger>
		<root>
		<AppenderRef ref="Console" />
		<AppenderRef ref="File" />
		</root>
	</Loggers>
</Configuration>


